.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.login {
  width: 100%;
  margin: 0%;
  padding: 0%;
  background-image: url("./Arc-Reactor-Iron-Man-Desktop-Wallpaper-768x480.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  /* background-position-x: 33vh; */
  /* background-size: 80%; */
  /* background-position-y: 2%; */
  /* border: 2px solid yellow; */
}
