.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* @keyframes fadeIn {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  } */

.Register {
  /* animation: fadeIn 10s ease-in 0 1; */
  width: 100%;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  background-image: url("./bg-01.jpg");
  background-repeat: no-repeat;
  /* background-size: auto; */
  /* background-position-x: 33vh; */
  background-size: cover;
  /* background-position-y: 2%; */
  /* border: 2px solid yellow; */
}
